:root {

  // COLORS
  --color-a: #1a4db5;

  --color-heading-a: #000;
  --color-heading-b: #fff;

  --color-text-a: #000;
  --color-text-b: #fff;

  --color-nav-a: #000;
  --color-nav-a-hover: #fff;

  --color-link-a: #0000ff;
  --color-link-a-hover: #000;

  --color-bg-a: #fff;
  --color-bg-b: #000;

  --color-border-a: #000;

  // FONTS
  --font-a: 'Libre Baskerville', serif;

  --font-heading-a: 'Libre Baskerville', serif;

}

* {
  box-sizing: border-box;
}

html {

  body {
    font-size: 16px;
    font-family: var(--font-a);
    color: var(--color-text-a);
    background-color: var(--color-bg-a);
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-heading-a);
    color: var(--color-heading-a);
    font-weight: 700;
  }
  
  h1 {
    font-size: 38px;
  }
  
  h2 {
    font-size: 28px;
  }
  
  h3 {
    font-size: 20px;
  }
  
  h4 {
    font-size: 14px;
  }

  h5 {
    font-size: 12px;
  }

  h6 {
    font-size: 10px;
  }
  
  p {
    line-height: 1.5;
  }

  a {
    text-decoration: none;
    color: var(--color-link-a);

    &:hover {
      color: var(--color-link-a-hover);
    }
  }

}
