:root {

  // COLORS
  --color-a: #205bd1;
  --color-a-tint: #8babeb;
  --color-a-shade: #1848a8;

  --color-text-a: #000;
  --color-text-a-tint: #999;
  --color-text-b: #fff;

  --color-placeholder-a: #aaa;

  --color-link-a: #0000ff;
  --color-link-a-hover: #000;

  --color-bg-a: #fff;
  --color-bg-b: #000;

  --color-border-a: #000;
  --color-border-b: #fff;

  --color-alert-a: #ff6c47;
  --color-alert-a-shade: #be3e1e;

  // FONTS
  --font-a: 'Libre Baskerville', serif;
  --font-b: 'Montserrat', sans-serif;

  --font-heading-a: 'Libre Baskerville', serif;

}

* {
  box-sizing: border-box;
}

html {

  body {
    font-size: 16px;
    font-family: var(--font-a);
    color: var(--color-text-a);
    background-color: var(--color-bg-a);
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-heading-a);
    color: var(--color-text-a);
    font-weight: 700;
  }
  
  h1 {
    font-size: 38px;
  }
  
  h2 {
    font-size: 28px;
  }
  
  h3 {
    font-size: 20px;
  }
  
  h4 {
    font-size: 14px;
  }

  h5 {
    font-size: 12px;
  }

  h6 {
    font-size: 10px;
  }
  
  p {
    line-height: 1.5;
  }

  a {
    text-decoration: none;
    color: var(--color-link-a);

    &:hover {
      color: var(--color-link-a-hover);
    }
  }

  input, button {
    border: none;
    outline: none;
    font-family: var(--font-b);
    background: none;
    margin: 0;
    padding: 0;
  }

  input::placeholder {
    color: var(--color-placeholder-a);
    font-weight: 300;
  }

  button {
    cursor: pointer;
  }

}
