.Footer {
  background-color: var(--color-bg-a);
  max-width: 1920px;
  margin: 0 auto;

  &__outer-ctr {
    display: flex;
    justify-content: center;
    padding: 8px 25px;
  }

  &__by {
    font-size: 11px;

    > a {
      text-decoration: underline;
    }
  }
}