.Footer {
  background-color: var(--color-bg-a);
  max-width: 1920px;
  margin: 0 auto;

  &__outer-ctr {
    display: flex;
    justify-content: center;
    padding: 8px 25px;
  }

  &__by {
    font-size: 11px;
    color: var(--color-text-a-tint);
    
    > a {
      text-decoration: underline;
      color: var(--color-text-a-tint);
    }
  }
}