.HomeNav {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 25px;
  height: 80px;

  &__units {
    position: absolute;
    right: 25px;
  }
}

@media (max-width: 350px) {
  .HomeNav {

    &__logo {
      margin: 0 auto;
    }

    &__units {
      display: none;
    }
  }
}