.Nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  height: 70px;
  max-width: 1920px;
  margin: 0 auto;

  &__right {
    display: flex;
  }

  &__units {
    margin-left: 25px;
    align-self: center;
  }
}

@media (max-width: 735px) {
  .Nav {
    position: relative;
    flex-direction: column;
    padding: 50px 25px;
    height: 100%;

    &__logo {
      margin-bottom: 25px;
    }

    &__right {
      flex-direction: column;
    }

    &__units {
      margin: 25px 0 0 0;
    }
  }
}