.NavSearch {

  &__form {

    &-inner-ctr {
      position: relative;
    }
  
    &-location {
      width: 350px;
      height: 40px;
      padding: 0 32px 0 38px;
      font-size: 16px;
      background-color: var(--color-bg-a);
      border-radius: 25px;
      border: 4px solid var(--color-a);
      
      &:focus + .Home__search-form-location-examples {
        display: none;
      }
    }
  
    &-location-icon {
      position: absolute;
      top: 5px;
      left: 10px;
  
      > svg {
        display: block;
        height: 30px;
        fill: var(--color-a);
      }
    }
  
    &-clear-icon {
      position: absolute;
      top: 10px;
      right: 10px;
      margin: 0;
      padding: 0;
  
      > svg {
        display: block;
        height: 20px;
        fill: var(--color-a-tint);
      }
    }
  }
}

@media (max-width: 450px) {
  .NavSearch {
    
    &__form {

      &-location {
        width: auto;
      }
    }
  }
}


@media (max-width: 735px) {
  .NavSearch {
    
    &__form {

      &-location {

        &::placeholder {
          text-align: center;
        }
      }
    }
  }
}