.UnitButtons {

  &__button {
    color: var(--color-a);
    border: 2px solid var(--color-a);
    border-radius: 5px;
    height: 24px;
    width: 24px;
    font-size: 12px;

    &:first-of-type {
      margin-right: 5px;
    }

    &--active {
      color: var(--color-text-b);
      background: var(--color-a);
    }
  }
}