.WeatherDaily {

  &__day {
    display: flex;
    align-items: center;
    position: relative;
    width: 60%;
    height: 80px;
    border: 2px solid var(--color-border-a);
    border-radius: 10px;
    margin: 0 20% 15px 20%;

    &-time {
      position: absolute;
      left: -115px;
      text-align: right;
      font-size: 12px;
      width: 100px;
      color: var(--color-text-a-tint);
    }

    &-temp {
      position: absolute;
      left: 25px;
      display: flex;
      flex-direction: column;

      &-inner-ctr {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &:first-of-type {
          border-bottom: 1px solid var(--color-border-a);
        }
      } 
  
      &-high-low {
        margin-right: 10px;
        font-size: 10px;
        color: var(--color-text-a-tint);
      }
  
      &-deg {
        font-size: 20px;
      }
  
    }

    &-icon {
      position: absolute;
      left: 125px;

      > svg {
        width: 35px;
        vertical-align: bottom;
      }
    }

    &-description {
      position: absolute;
      left: 185px;
      font-size: 20px;
    }

    &-rain {
      position: absolute;
      right: 25px;

      > svg {
        position: absolute;
        right: 50px;
        height: 20px;
        vertical-align: bottom;
      }
    }
  }
}