.Weather {

  &__not-found-outer-ctr {
    margin: 25px;
  }

  &__not-found {
    display: inline-block;
    padding: 25px;
    max-width: 500px;
    border-radius: 5px;
    color: var(--color-text-b);
    background-color: var(--color-a);
    
    > svg {
      height: 30px;
      fill: var(--color-text-b);
      margin-bottom: 15px;
    }

    > p {
      font-size: 15px;
      width: 100%;
    }
  }

  &__current {
    display: flex;
    min-height: 300px;

    &-ghost {
      text-align: right;
      width: 50%;
      padding: 50px;
    }
  
    &-weather {
      width: 50%;
      padding: 50px;
      color: var(--color-text-b);

      > h1 {
        font-size: 28px;
        color: var(--color-text-b);
      }

      &-time {
        font-size: 14px;
      }

      &-temp-ctr {
        display: inline-block;
        margin-top: 20px;
        padding: 20px 25px;
        border: 4px solid var(--color-border-b);
        border-radius: 10px;
      }

      &-temp {
        font-size: 46px;
        line-height: 1;
        font-weight: 700;

        > span {
          position: relative;
          top: -23px;
          padding-left: 2px;
          font-size: 16px;
          font-weight: 300;
        }
      }

      &-description {
        font-size: 28px;
        font-weight: 700;
        padding-bottom: 15px;
      }

      &-details {
        display: flex;
        flex-direction: column;

        > p {
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-size: 14px;
          border-top: 1px solid white;
          padding: 3px 0 1px 0;

          &:last-of-type {
            border-bottom: 1px solid white;
          }

          > span {
            font-size: 18px;
            font-weight: 700;
            margin-left: 10px;
          }
        }
      }
    }

    &-alert {
      margin-top: 20px;

      > button {
        display: flex;
        align-items: center;
        color: var(--color-text-b);
        background-color: var(--color-alert-a);
        padding: 5px 6px 5px 5px;
        border-radius: 5px;
        font-size: 12px;

        > svg {
          height: 15px;
          margin-right: 4px;
          fill: var(--color-text-b);
        }

        &:hover {
          background-color: var(--color-alert-a-shade);
        }
      }
    }
  }

  &__future {
    margin: 50px auto 100px auto;
    max-width: 1920px;

    &-btns-ctr {
      margin: 0 auto 25px auto;
      text-align: center;
    }

    &-btn {
      padding: 5px 8px;
      border: 2px solid var(--color-a);
      border-radius: 5px;
      margin-right: 15px;
      color: var(--color-a);
      font-family: var(--color-a);
      font-size: 18px;
      font-weight: 700;

      &--active {
        color: var(--color-text-b);
        background-color: var(--color-a);
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

@media (max-width: 715px) {
  .Weather {

    &__not-found-outer-ctr {
      text-align: center;
    }

    &__current {
      flex-direction: column-reverse;
      align-items: center;
      text-align: center;

      &-ghost {
        text-align: center;
        width: 100%;
      }

      &-weather {
        text-align: center;
        width: 100%;
        padding-bottom: 0;
      }

      &-alert {

        > button {
          display: inline-flex;
        }
      }
    }
  }
}