.WeatherAlerts {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .8);
  z-index: 1000;
  cursor: pointer;

  &__alerts-ctr {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0 auto;
    top: 10%;
    height: 80%;
    width: 400px;
  }

  &__alerts {
    padding: 25px;
    border-radius: 10px;
    background-color: var(--color-bg-a);
    overflow: auto;
    cursor: default;

    &-alert {
      margin-bottom: 35px;
      
      &:last-child {
        margin-bottom: 0;
      }

      > h3 {
        margin-bottom: 5px;
        color: var(--color-alert-a);
      }

      &-issued {
        font-size: 12px;
      }

      &-time {
        margin-bottom: 15px;
        font-size: 12px;

        > p {
          display: inline;
        }
      }
    }
  }

  &__close {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;

    > button {
      color: var(--color-text-b);
      padding: 2px 4px;
      border: 1px solid var(--color-border-b);
      border-radius: 5px;
    }
  }
}