.WeatherHourly {

  &__hour {
    display: flex;
    align-items: center;
    position: relative;
    height: 80px;
    border: 2px solid var(--color-border-a);
    border-radius: 10px;
    margin-bottom: 15px;

    &-time {
      position: absolute;
      left: -115px;
      text-align: right;
      font-size: 12px;
      width: 100px;
      color: var(--color-text-a-tint);
    }

    &-temp {
      position: absolute;
      left: 25px;
      font-size: 28px;
      text-align: right;
    }

    &-icon {
      position: absolute;
      left: 125px;

      > svg {
        width: 35px;
        vertical-align: bottom;
      }
    }

    &-description {
      position: absolute;
      left: 185px;
      font-size: 20px;
    }

    &-rain {
      position: absolute;
      right: 25px;

      > svg {
        position: absolute;
        right: 50px;
        height: 20px;
        vertical-align: bottom;
      }
    }
  }
}

@media (max-width: 760px) {

  .WeatherHourly {

    &__hour {
      
      &-description {
        display: none;
      }
    }
  }

}

@media (max-width: 530px) {

  .WeatherHourly {

    &__hour {
      
      &-description {
        display: none;
      }

      &-icon {
        position: absolute;
        left: auto;
        right: 25px;
      }

      &-rain {
        display: none;
      }
    }
  }

}